name: Example CI/CD with GitHub Actions

on:
  push:
    branches:
      - main

env:
  DATABRICKS_HOST: ${{ vars.DATABRICKS_HOST }}         # or secrets if you stored it as a secret
  DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
  PROPHECY_PROJECT_ID: ${{ vars.PROPHECY_PROJECT_ID }}
  PROPHECY_FABRIC_IDS: ${{ vars.FABRIC_ID }} # optional

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "11"

      - name: Set up Python 3.9.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.9.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build pytest wheel pytest-html pyspark==3.3.0 prophecy-build-tool

      - name: Run PBT validate
        run: pbt validate --path .
      - name: Run PBT build
        run: pbt build --path .
      - name: Run PBT test
        run: pbt test --path .
      - name: Run PBT deploy
        run: |
          pbt deploy --path . --release-version "0.05" \
            --project-id "${PROPHECY_PROJECT_ID}" \
            --fabric-ids "${FABRIC_ID}"
